* {
  padding: 0;
  margin: 0;
}

:root {
  --board_color: radial-gradient(
    circle,
    rgba(45, 115, 70, 1) 3%,
    rgba(43, 108, 66, 1) 20%,
    rgba(29, 65, 42, 1) 90%
  );
  --background_color: radial-gradient(
    circle,
    rgba(26, 79, 89, 1) 3%,
    rgba(22, 64, 73, 1) 18%,
    rgba(11, 32, 38, 1) 70%
  );
}

.main_container {
  background: var(--background_color);
}

.board_container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  height: 85vh;
  width: 100vw;
  grid-template-rows: 25% 50% 25%;
}

.CPU2,
.PLAYER {
  grid-column: 2/3;
}

.CPU1,
.BOARD,
.CPU3 {
  grid-row: 2/3;
}

.CPU1 {
  grid-column: 1/2;
}

.CPU3 {
  grid-column: 3/4;
}

.BOARD {
  grid-column: 2/3;
  background: var(--board_color);
  border-radius: 1rem;
  width: 90%;
  margin: 0 auto;
  border: 2px solid rgb(95, 108, 61);
  box-shadow: 1px 1px 31px 5px #000000;
}
.CPU1,
.CPU3 {
  width: 120px;
  height: 340px;
  margin: auto 0;
  margin-top: -20px;
  border: 1px solid white;
  border-radius: 0.5rem;
}
.CPU1 {
  margin-left: 70%;
}

.CPU2,
.PLAYER {
  width: 430px;
  height: 110px;
  margin: auto;
  border: 1px solid white;
  border-radius: 0.5rem;
}

.hands {
  background-color: rgb(23, 43, 39);
  border: 1px solid #73cac3;
  box-shadow: 1px 1px 16px -9px #73cac3;
}

.domino_container_PLAYER,
.domino_container_CPU2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  background-color: white;
  box-shadow: 0px 0px 9px 3px #000000;
  width: 50px;
  height: 80px;
  border-radius: 0.3rem;
}

.domino_container_CPU1,
.domino_container_CPU3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  background-color: white;
  box-shadow: 0px 0px 9px 3px #000000;
  width: 80px;
  height: 40px;
  border-radius: 0.3rem;
}

.face {
  display: grid;
  grid-template-columns: repeat(3, 10px);
  grid-template-rows: repeat(3, 10px);

}

.dot {
  width: 7px;
  height: 7px;
  background: black;
  border-radius: 50%;
  margin: 3px;
  place-self: center;
}

.number_1 .dot_0 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.number_2 {
  .dot_0 {
    grid-column: 3/3;
  }
  .dot_1 {
    grid-row: 3/3;
  }
}

.number_3 {
  .dot_0 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .dot_1 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .dot_2 {
    grid-column: 1;
    grid-row: 3/4;
  }
}

.number_4 {
  .dot_0 {
    grid-column: 1/2;
    grid-row: 1;
  }
  .dot_1 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .dot_2 {
    grid-column: 1;
    grid-row: 3/4;
  }
  .dot_3 {
    grid-column: 3/3;
    grid-row: 3/4;
  }
}

.number_5 {
  .dot_0 {
    grid-column: 1/2;
    grid-row: 1;
  }
  .dot_1 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .dot_2 {
    grid-column: 1;
    grid-row: 3/4;
  }
  .dot_3 {
    grid-column: 3/3;
    grid-row: 3/4;
  }
  .dot_4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.number_6 {
  .dot_0 {
    grid-column: 1/2;
    grid-row: 1;
  }
  .dot_1 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .dot_2 {
    grid-column: 1;
    grid-row: 3/4;
  }
  .dot_3 {
    grid-column: 3/3;
    grid-row: 3/4;
  }
  .dot_4 {
    grid-column: 3/3;
    grid-row: 2/3;
  }
  .dot_5 {
    grid-column: 1;
    grid-row: 2/3;
  }
}

.domino_container_PLAYER > :first-child,
.domino_container_CPU2 > :first-child {
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.domino_container_CPU1 > :first-child,
.domino_container_CPU3 > :first-child {
  border-right: 2px solid black;
  margin-right: 2px;
  padding-right: 5px;
}

.header {
  background-image: url(./assets/M&Ms.jpg);
  border: 6px solid black;
  height: 15vh;
  width: 100vw;
  position: relative;
  box-shadow: -5px 2px 50px 0px #f0ff66;
}

.glow {
  font-size: 70px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.start_button {
  margin-left: 30px;
}

.header > div:last-child {
  position: absolute;
  right: 3rem;
}

.about_us {
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  text-shadow: 4px 4px 4px black;
}

.domino_container_PLAYER:hover,
.domino_container_CPU1:hover,
.domino_container_CPU2:hover,
.domino_container_CPU3:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
  z-index: 10;
  box-shadow: 0px 0px 20px 5px #73cac3;
}
